<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sportsandhealth.iamkerel.stomachvacuum">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Entry.ScreenSlidePagerActivity" />
        <activity android:name=".ProgramSelection" />
        <activity android:name=".ProgramActivity" />
        <activity android:name=".AndroidDatabaseManager" />
        <activity android:name=".DayActivity" />
        <activity android:name=".TrainingActivity" />
        <activity android:name=".RelaxActivity" />
        <activity android:name=".EndDayActivity" />
        <activity android:name=".HelpActivity"></activity>
    </application>

</manifest>